body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.btn-round {
    color: black;
    border: none;
    text-decoration: none;
}

.navBar {
    min-height: 100px;
    margin: 2em 4em 2em 4em;
}

.logo {
    float: left;
    text-decoration: none;
    font-size: 54px;
    font-weight: bold;
    color: black;
}

.logo span {
    color: green;
}

.rightNav {
    float: right;
    margin-top: 20px;
}

.rightNav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.navBar button {
    margin-left: 20px;
    background-color: white;
    border: 3px solid black;
    color: black;
    padding: 7px 20px;
    font-size: 20px;
    box-shadow: 3px 5px gray;
}

.navBar button:hover {
    background-color: gray;
}

.headPicture {
    min-height: 800px;
    background-image: url(../../Assets/Image/Cloths-bc740630f228713e4bb0de8a7bffce22.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.headPicture h1 {
    padding-top: 200px;
    font-size: 64px;
    padding-bottom: 0;
    margin-bottom: 10px;
}

.headPicture h6 {
    margin-top: 0;
    padding-top: 0;
    color: grey;
    font-size: 24px;
}

.headPicture input {
    width: 50%;
    height: 40px;
    margin-top: 10px;
    border-radius: 20px;
    border: 3px solid;
    font-size: 20px;
    background-color: white;
    background-image: url(../../Assets/Icons/search-solid.svg);
    background-position: 10px 5px;
    background-repeat: no-repeat;
    background-size: 30px;
    padding-left: 45px;
}

.allCard {
    margin-top: 50px;
    width: 100%;
    height: 300px;
}

.card {
    margin-left: 5%;
    float: left;
    width: 25%;
    min-height: 200px;
    padding: 20px 10px 10px 10px;
    text-align: left;
    border: 3px solid black;
    position: relative;
    font-size: 28px;
}

.card button {
    margin-left: 0px;
    background-color: white;
    border: 3px solid black;
    color: black;
    padding: 7px 20px;
    font-size: 20px;
    box-shadow: 3px 5px gray;
}

.card button:hover {
    background-color: gray;
}

.card h3 {
    margin-bottom: 10px;
    padding-bottom: 0;
}

.card p {
    font-size: 20px;
    padding-top: 0;
    margin-bottom: 30px;
    margin-top: 0;
    font-weight: bold;
}

#leftCard {
    width: 70%;
}

.card img {
    width: 20%;
    position: absolute;
    top: 80px;
    right: 10px;
}

#card1 {
    background-color: palevioletred;
}

#card2 {
    background-color: peru;
}

#card3 {
    background-color: purple;
    white-space: none;
}

table {
    white-space: 0px;
}

.bottomContainer {
    width: 100%;
    height: auto;
}

.bottomContainer .sideNav {
    vertical-align: top;
    width: 20%;
    padding: 30px 0px;
}

.bottomContainer .sideNav ul {
    padding: 0px;
}

.bottomContainer .sideNav ul li {
    margin: 0px;
    padding: 15px;
    display: block;
}

.bottomContainer .sideNav ul li a {
    text-align: left;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin: auto;
    display: flex;
    align-items: center;
}

.bottomContainer .sideNav ul li a span {
    margin-left: 10px;
}

.bottomContainer .sideNav img {
    width: 80px;
}

.bottomContainer .sideNav ul li:hover {
    background-color: silver;
}

.bottomContainer .sideNav ul li:hover a {
    color: white;
}

.bottomContainer .products {
    background-color: #f4f4f4;
}

.bottomContainer .products .cardProduct {
    width: 25%;
    border: 3px solid black;
    float: left;
    margin: 3% 0 3% 6%;
    position: relative;
}

.bottomContainer .products .cardProduct .productImg {
    text-align: center;
}

.bottomContainer .products .cardProduct .productImg img {
    width: 80%;
}

.bottomContainer .products .cardProduct .productText {
    padding: 0px 20px;
    font-size: 24px;
}

.bottomContainer .products .cardProduct .cardFooter {
    padding: 0px 20px;
}

.bottomContainer .products .cardProduct .cardFooter .price {
    float: left;
    font-size: 28px;
    line-height: 10px;
}

.bottomContainer .products .cardProduct .cardFooter .price #fullPrice {
    color: red;
    text-decoration-line: line-through;
}

.bottomContainer .products .cardProduct .cardFooter .price #discountPrice {
    color: green;
}

.bottomContainer .products .cardProduct .cardFooter .buyButton {
    float: right;
    margin-top: 30px;
}

.bottomContainer .products .cardProduct .cardFooter .buyButton button {
    color: black;
    background-color: white;
    font-size: 24px;
    border: 3px solid black;
    padding: 10px 20px;
    box-shadow: 3px 5px gray;
}

.bottomContainer .products .cardProduct .cardFooter .buyButton a {
    text-decoration: none;
    display: block;
}

.bottomContainer .products .cardProduct .cardFooter .buyButton button:hover {
    background-color: gray;
    color: white;
}

.bottomContainer .products .cardProduct .discountLogo {
    position: absolute;
    background-color: rgb(255, 145, 0);
    font-size: 30px;
    padding: 10px 10px;
    border-radius: 15px;
    top: 10px;
    right: 20px;
    text-align: center;
    vertical-align: top;
}

.bottomContainer .products .cardProduct .discountLogo p {
    padding: 0px;
    margin: 0px;
}

.bottomContainer .products .loadMore button {
    color: black;
    background-color: green;
    font-size: 28px;
    padding: 10px 30px;
    border-radius: 15px;
}

.bottomContainer .products .loadMore {
    text-decoration: none;
    display: block;
    margin: 30px;
}

.bottomContainer .products .loadMore button:hover {
    background-color: gray;
}